<!DOCTYPE html>
<html>
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <link rel='stylesheet' href='/css/settings.css'>
  <title>eBay Alerts Settings</title>
</head>
<body>
  <div class='whole-wrapper'>
    <div class='main-container'>
      <div class='inputs-wrapper'>
        <div class='title'>Settings</div>
        <div class='line'></div>
        <div class='input-title'>Item Search</div>
        <input class='input' name='item' placeholder='Item' value='<%= item %>' type='text'>
        <div class='input-title'>Max Price</div>
        <input class='input' name='max_price' value='<%= max_price %>'>
        <div class='input-title'>Min Price</div>
        <input class='input' name='min_price' value='<%= min_price %>'>
        <div class='input-title'>Sleep Time</div>
        <input class='input' name='sleep_time' placeholder='sleep time' value='<%= sleep_time %>' type='text'>
        <div class='input-title'>Max Show</div>
        <input class='input' name='max_show' value='<%= max_show %>'>
        <div class='input-title'>Notify</div>
        <input class='input-toogle' name='notify' value='<%= notify %>'type='toggle'>
        <div class='input-toggle-box <%= notify %>'>
          <div class='toggle'></div>
        </div>
      </div>
      <div class='button-wrapper'>
        <div class='button' onclick='submitSettings()'>Save</div>
        <div class='button' onclick='window.location = "/run"'>Cancel</div>
      </div>
    </div>
    <%- include ../partials/footer %>
  </div>
  <script src='/js/settings.js'></script>
</body>
